body {
    margin: 20px;
}

.avatar {
    width: 150px;
    font-family: serif;
    border-radius: 80px;
}

.card {
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    text-align: center;
    color: black ;
    background-color: #ffe6c1;
    border-radius: 10px;
    box-shadow: 5px 5px #E97777;
}

.card:hover {
    background-color:#FFFAD7; 
}
